.main {
	background-color: #fff;
	min-width: 100vw;
	min-height: 100vh;
}

.topBar {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 5px 10px 5px 10px;
	background-color: rgb(0, 18, 66);
}

.grid {
	padding-top: 3px;
}

.node-row {
	max-height: 25px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	width: -moz-fit-content;
}
