.main {
	background-color: #fff;
	min-width: 100vw;
	min-height: 100vh;
}

.grid {
	padding-top: 100px;
}

.node-row {
	max-height: 25px;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
	width: -moz-fit-content;
}
